@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* universal selector */
::-webkit-scrollbar {
    display: none;
}

/* Select all images */
/* img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
} */

section {
    min-height: 100vh;
}


/* logo */
/* img[alt='logo'] {
    width: 5rem;
} */

/* from appview */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:  rgb(255, 255, 255) ;
     background-color: black; /*Dark gray background */
}

.nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: rgb(29, 29, 29);
}

nav a.router-link-exact-active {
    color: #42b983
}
  
/* .offcanvas-nav {
    display: flex;
    flex-direction: column;
}

.nav-inline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.navlinks {
    text-decoration: none !important;
}


.navbar {
    background-color: black !important;
}

.nav {
    background-color: black !important;
}



/* wrapper */

:is(.wrapper) {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}

.lead {
    color: black;
    position: absolute;
}

/* section */



/* media query */

@media (width < 800px) {
    #home .row {
        display: block;
        height: auto;
    }
}

/* home */

body {
  
  background-color: black; /* Dark gray background */
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

.navbar-brand{
  width: 60px;
}



/* home */
.gradient-text {
  background: linear-gradient(138deg, #ff8660 15%, #8000ff 104.95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-container {
  background: linear-gradient(138deg, #FF8660 9.86%, #8000FF 104.95%);
  padding-bottom: 10px;
  aspect-ratio: 1;
  z-index: 1;
}
.img-container img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
}

#land{
margin-top: 130px;
margin-bottom: 120px;
}

@keyframes typing {
  from { width: 0 }
  /* to { width: 100% } */
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  /* border-right: .15em solid gray; */
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  animation: typing 5s steps(80), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  /* from, to { border-color: transparent } */
  50% { border-color: transparent }
}


/* about me */
.about-me-title {
    background: linear-gradient(180deg, #9360ff 0%, #8f1dd5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 35px;
    line-height: 102%;
    font-family: Poppins, sans-serif;
  }
  
  .about-me-description {
    color: #c5c5c5;
    letter-spacing: 0.36px;
    font-weight: 300;
    font-size: 18px;
    font-family: Poppins, sans-serif;
  }
  
    /* .about-me-details-label,
    .about-me-details-value {
      color: #c5c5c5;
      letter-spacing: 0.36px;
      font-weight: 300;
      font-size: 18px;
      font-family: Poppins, sans-serif;
    } */
    
    .about-me-actions {
      font-size: 21px;
      font-weight: 600;
    }
    
    .about-me-contact-btn {
      -webkit-text-stroke-width: 0.3246873915195465;
      -webkit-text-stroke-color: #fff;
      font-family: Poppins, sans-serif;
      border: 1px solid #fff;
      border-radius: 50px;
      background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
      color: #161513;
      justify-content: center;
      padding: 24px 30px;
    }
    
    .about-me-download-btn {
      -webkit-text-stroke-width: 0.3246873915195465;
      -webkit-text-stroke-color: #000;
      font-family: Poppins, sans-serif;
      border-radius: 50px;
      border: 2px solid #fff;
      color: #fff;
      justify-content: center;
      padding: 24px 28px;
    }
    /* @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    .typewriter {
      display: inline-block;
      overflow: hidden;
      border-right: .15em solid gray;
      white-space: nowrap;
      margin: 0 auto;
      padding: 0 10px;
      animation: typing 5s steps(80, end), blink-caret .75s step-end infinite;
    }
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: transparent }
    } */
  #textss>p{
    color: #c5c5c5;
  }
  
  /* .about-me-details-label,
  .about-me-details-value {
    color: #c5c5c5;
    letter-spacing: 0.36px;
    font-weight: 300;
    font-size: 18px;
    font-family: Poppins, sans-serif;
  } */
  
  .about-me-actions {
    font-size: 21px;
    font-weight: 600;
  }
  
  .about-me-contact-btn {
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: #fff;
    font-family: Poppins, sans-serif;
    border: 1px solid #fff;
    border-radius: 50px;
    background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
    color: #161513;
    justify-content: center;
    padding: 24px 30px;
  }
  
  .about-me-download-btn {
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: #000;
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
    justify-content: center;
    padding: 24px 28px;
  }
  
  #about{
    margin-bottom: 120px;
  }

  /* education */

  .education-section {
    display: flex;
    flex-direction: column;
    max-width: 799px;
    padding: 0 20px;
    margin: 0 auto; /* Center horizontally */
  }
  
  .education-title {
    margin-top: 100px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ff5b5b 0%, #d11313 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    font: 800 35px/102% Poppins, sans-serif;
  }
  
  .education-item {
    display: flex;
    width: 100%;
    gap: 20px;
    font-weight: 400;
    margin-top: 88px;
  }
  
  @media (max-width: 991px) {
    .education-item {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  
  .education-degree {
    color: var(--dark-content, #666);
    letter-spacing: 1px;
    flex-grow: 1;
    flex-basis: auto;
    font: 20px/140% Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .education-degree {
      max-width: 100%;
    }
  }
  
  .education-details {
    align-self: start;
    display: flex;
    gap: 7px;
    font-size: 14px;
    color: var(--Light-Grey, #8491a0);
    text-align: center;
    line-height: 150%;
  }
  
  .education-icon {
    width: 18px;
    aspect-ratio: 1.39;
    object-fit: auto;
    object-position: center;
  }
  
  .education-date {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .education-institute {
    align-self: start;
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: var(--light-Content, #a7a7a7);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 233%;
  }
  
  .education-location-icon {
    width: 18px;
    aspect-ratio: 1.49;
    object-fit: auto;
    object-position: center;
    align-self: start;
  }
  
  .education-location {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  
  .education-separator {
    width: 100%;
    min-height: 2px;
    margin-top: 25px;
    background-color: var(--Colors-Grey, #ebeaed);
  }
  
  @media (max-width: 991px) {
    .education-separator {
      max-width: 100%;
    }
  }
  


.footer {
    background-color: #191919;
    padding: 40px 0px;
    
  }