@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* universal selector */
::-webkit-scrollbar {
    display: none;
}

/* Select all images */
/* img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
} */

section {
    min-height: 100vh;
}


/* logo */
/* img[alt='logo'] {
    width: 5rem;
} */

/* from appview */

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:  rgb(29, 29, 29) ;
    background-color: black; /* Dark gray background */
}

.nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: rgb(29, 29, 29);
}

nav a.router-link-exact-active {
    color: #42b983
}
  
/* .offcanvas-nav {
    display: flex;
    flex-direction: column;
}

.nav-inline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.navlinks {
    text-decoration: none !important;
}


.navbar {
    background-color: black !important;
}

.nav {
    background-color: black !important;
}



/* wrapper */

:is(.wrapper) {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}

.lead {
    color: black;
    position: absolute;
}

/* section */



/* media query */

@media (width < 800px) {
    #home .row {
        display: block;
        height: auto;
    }
}

/* home */

body {
  
  background-color: black; /* Dark gray background */
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

.navbar-brand{
  width: 60px;
}



/* home */
.gradient-text {
  background: linear-gradient(138deg, #ff8660 15%, #8000ff 104.95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-container {
  background: linear-gradient(138deg, #FF8660 9.86%, #8000FF 104.95%);
  padding-bottom: 10px;
  aspect-ratio: 1;
}
.img-container img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
}

#land{
margin-top: 130px;
margin-bottom: 120px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid gray;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 10px;
  animation: typing 5s steps(80, end), blink-caret .75s infinite;
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}


.footer {
    background-color: #191919;
    padding: 40px 0px;
  }